{% extends 'news/base.html' %}
{% load static %}

{% block title%} {{ news.title }} {% endblock title %}

{% block content %}

<div class="contentSection" style="padding-left:30px; padding-right:30px; background-color: #fff;">
    <h2 class="text-center">Joriy yangilikni o'chirish</h2>
    <form method="post">{% csrf_token %}
    <p>{{ news.title | truncatewords:4 }}... sarlavhali yangilikni o'chirmoqchimisiz?</p>
    <button type="submit" class="btn btn-danger ml-2">Tasdiqlaynman</button>
    </form>
</div>

{% endblock content %}
